<ion-popover-view style="height: 125px">
    <ion-content scroll="false">
        <div class="list">
            <a class="item item-icon-left" href="#" ng-click="refreshSingle()">
                <i class="icon ion-loop"></i>
                Refresh
            </a>
            <a class="item item-icon-left" href="#" ng-click="deleteSingle()">
                <i class="icon ion-trash-a"></i>
                Delete
            </a>
        </div>
    </ion-content>
</ion-popover-view>