<ion-view view-title="Main" name="main-view" hide-back-button="true" id="main-view">
    <ion-nav-title>
        <img src="img/logo.png"/>Ppos Tracker
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-loop" ng-click="refreshAll()"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <table class="form-data">
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" placeholder="Tracking Code.." ng-model="data.code"/>
                        </td>
                        <td>
                            <a class="button button-icon icon ion-ios-barcode-outline" ng-click="scanBarcode()"></a>
                            <a class="button button-icon icon ion-ios-search-strong" ng-click="searchCode()"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col" id="search-result">
                <div ng-repeat="item in items" class="result result-{{item.item_status}}" id="result-code-{{item.item_code}}">
                    <table>
                        <tr class="action-showing" ng-if="item.current_action=='showing'">
                            <td class="status-image-container">
                                <span class="status-icon icon"></span>
                            </td>
                            <td class="details-container">
                                <p class="item-code">{{item.item_code}}</p>
                                <p class="item-name">{{item.item_name}}</p>
                                <div class="progressbar">
                                    <div class="progress"></div>
                                </div>
                                <p class="status">{{item.item_status | statusName}}<span class="date">{{item.updated_at|date:'MMM d, y h:mm:ss a'}}</span></p>
                            </td>
                            <td class="actions-container">
                                <a href="#" ng-click="showActions($event,item.item_code)"><span class="icon ion-android-more-vertical"></span></a>
                            </td>
                        </tr>
                        <tr class="action-updating" ng-if="item.current_action=='updating'">
                            <td class="status-image-container">
                                <span class="status-icon icon"></span>
                            </td>
                            <td class="details-container">
                                <p class="item-code">{{item.item_code}}</p>
                                <p class="item-name">{{item.item_name}}</p>
                                <p class="item-current-action">Updating status...</p>
                            </td>
                        </tr>
                        <tr class="action-deleting" ng-if="item.current_action=='deleting'">
                            <td class="status-image-container">
                                <span class="status-icon icon"></span>
                            </td>
                            <td class="details-container">
                                <p class="item-code">{{item.item_code}}</p>
                                <p class="item-name">{{item.item_name}}</p>
                                <p class="item-current-action">Invalid tracking code.</p>
                            </td>
                            <td class="delete-column">
                                <button class="button icon-left ion-trash-a button-assertive" ng-click="deleteTracking(item.item_code)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
