/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
.bar.bar-header {
  background-color: #222;
  color: white;
}

div.title.header-item{
  left: 0px!important;
  span.nav-bar-title{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    img{
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
  }
}

div.buttons.buttons-right{
  button{
    color:white;
  }
}


#main-view {
  background-color: #F3F3F3;

  table.form-data {
    width: 100%;
    tr {
      td {

        vertical-align: top;

        &:nth-child(1) {
          vertical-align: middle;
          text-align: left;
        }
        &:nth-child(2) {
          width: 80px;
          text-align: right;
          vertical-align: middle;
        }
      }
    }

    input {
      display: inline-block;
      width: 100%;
      margin-right: 10px;

      margin-top: 0px;
      padding-left: 7px;
      height: 35px;
      line-height: 17px;
      font-size: 16px;
      border: 1px solid #ddd !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

    }
    a.button {
      background-color: #222;
      color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      min-height: 25px;
      line-height: 30px;
      &:before {
        line-height: 30px;
        font-size: 25px;
      }
    }

  }
}

#search-result {
  clear: both;
  position: relative;
  margin-top: 20px;

  .result {
    clear: both;
    display: table;
    width: 100%;
    margin: 0px auto 0px auto;

    border-top: 1px solid #ddd;
    &:nth-last-child(1) {
      border-bottom: 1px solid #ddd;
    }

    table {
      width: 100%;
      margin-bottom: 5px;
      td {
        padding-top: 0px;
        &.status-image-container {
          width: 50px;
          overflow: hidden;
          vertical-align: middle;
          .status-icon {
            font-size: 50px;
            &:before{
              display: inline-block;
              font-family: "Ionicons";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-rendering: auto;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
        &.details-container {
          vertical-align: top;
          p.item-code {
            margin-bottom: 2px;
            margin-top: 8px;
            line-height: 13px;
            font-size: 12px;
            font-weight: bold;
          }
          p.item-name {
            margin-bottom: 5px;
            margin-top: 8px;
            line-height: 13px;
            /* font-weight: bold; */
          }
          div.progressbar {
            margin-top: 5px;
            margin-bottom: 3px;
            display: block;
            clear: both;
            height: 10px;

            overflow: hidden;
            background-color: white;
            border-radius: 2px;

            div.progress {
              height: 100%;
              float: left;
              line-height: 15px;
              -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
              box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);

            }
          }
          p.status {
            margin-bottom: 5px;
            margin-top: 5px;
            line-height: 13px;
            font-size: 12px;
            font-weight: bold;
          }
          span.date {
            float: right;
            font-size: 12px;
            font-style: italic;
            font-weight: normal;

          }
        }
        &.actions-container {
          width: 5px;
          text-align: center;
          vertical-align: top;
          a {
            color: #203052;
            margin-top: 10px;
            font-size: 25px;
            display: block;
          }
        }
        &.delete-column {
          width: 110px;
          text-align: right;
          vertical-align: middle;
        }
      }

      tr.action-updating{
        span.status-icon {
          color: #387ef5;
          &:before{
            content: "\f142";
          }
        }
        p.item-current-action{
          font-weight: bold;
          margin-top: 10px;
        }
      }

      tr.action-deleting{
        span.status-icon {
          color: #ef473a;
          &:before{
            content: "\f128";
          }
        }
        p.item-current-action{
          font-weight: bold;
          margin-top: 10px;
        }
      }


    }
  }
}

div.result-rv {
  div.progress {
    width: 25%;
    background-color: rgba(255, 165, 0, 0.43);
  }
  span.status-icon {
    color: rgba(255, 165, 0, 0.43);
    &:before{
      content: "\f120";
    }
  }
}

div.result-rp {
  div.progress {
    width: 75%;
    background-color: orange;
  }
  span.status-icon {
    color: orange;
    &:before{
      content: "\f120";
    }
  }
}

div.result-cf {
  div.progress {
    width: 75%;
    background-color: #ef473a;
  }
  span.status-icon {
    color: #ef473a;
    &:before{
      content: "\f35b";
    }

  }
}

div.result-dl {
  div.progress {
    width: 100%;
    background-color: green;
  }
  span.status-icon {
    color: green;
    &:before{
      content: "\f120";
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


